build
.vscode
*.swp
testShape
testMultiShapes
testBoundary
testPath
testPathCopy
testBlending
testUpdate
testDirectUpdate
testScene
testTransform
testCustomTransform
testSceneTransform
testStroke
testStrokeLine
testLinearGradient
testRadialGradient
testGradientTransform
testSvg
testGlShape
testAsync
