# Normalize EOL for all files that Git considers text files
* text=auto eol=lf

# Except for bat files, which are Windows only files
*.bat eol=crlf

# And some test files where the EOL matters
*.json -text
