build
.vscode
*.swp
testShape
testMultiShapes
testBoundary
testPath
testPathCopy
testBlending
testUpdate
testDirectUpdate
testScene
testTransform
testSceneTransform
testStroke
testStrokeLine
testLinearGradient
testRadialGradient
testGradientTransform
testSvg
testSvg2
testGlShape
