# ThorVG uses the CODEOWNERS file to automatically assign reviewers in the GitHub system. 
# However, the presence of a CODEOWNER does not necessarily imply that they are the sole copyright owners of the code. 
# For more information, please consult the AUTHORS file.

* @hermet
/src/renderer/gl_engine @RuiwenTang @SergeyLebedkin
/src/renderer/wg_engine @SergeyLebedkin
/src/loaders/external_webp/ @JSUYA
/src/loaders/svg/ @JSUYA
/src/loaders/gif/ @JSUYA
/src/tools/svg2png/ @JSUYA
/src/examples/ @JSUYA @RuiwenTang @SergeyLebedkin @tinyjin
/test/* @JSUYA @RuiwenTang @SergeyLebedkin @tinyjin
/web/* @tinyjin