# ThorVG uses the CODEOWNERS file to automatically assign reviewers in the GitHub system. 
# However, the presence of a CODEOWNER does not necessarily imply that they are the sole copyright owners of the code. 
# For more information, please consult the AUTHORS file.

* @hermet
/src/renderer/gl_engine @RuiwenTang
/src/renderer/wg_engine @SergeyLebedkin
/src/loaders/svg/ @JSUYA @mgrudzinska
/src/loaders/tvg/ @mgrudzinska
/src/loaders/external_webp/ @JSUYA
/src/savers/tvg/ @mgrudzinska
/src/bindings/capi/ @mgrudzinska
/src/tools/svg2png/ @JSUYA
/src/examples/ @JSUYA @mgrudzinska
/test/* @JSUYA @mgrudzinska
/test/capi/ @mgrudzinska
