name: PR_check

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  pull_request:
    branches:
      - master


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:      
      - name: C++ code linter (clang-tidy and cppcheck)
        uses: smay1613/cpp-linter-action@0.0.2
