name: Release
on:
  release:
    types: [published]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: "thorvg"
      - name: Create source archive
        run: |
          meson setup builddir
          meson dist -C builddir
      - name: Upload to release
        uses: softprops/action-gh-release@v2
        with:
          files: builddir/meson-dist/*.xz
